/.env
/.pytest_cache
/.venv
/.vscode
/Jordans Robot Token.txt
/pending_views.json
/progression_data.json
/rank_config.json
/style_config.json
/__pycache__
bot_settings.json
*/__pycache__
discordserverbackup-11ca9abaa5f0.json
client_secret.json
.cache/gdrive_token.json
bot_commands/__pycache__
styles/__pycache__
